.canvas_app_container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 100px;
}

.canvas_container {
  width: 500px;
  height: 500px;
  border: 1px solid black;
}
